{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}
    <div class="container mt-4">
        <table class="table table-success table-striped table-hover" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Price</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{book.id}}</td>
                        <td>{{book.title}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.price}}</td>
                        <td>
                            <a href="" class="btn btn-success">Update</a>
                            <a href="" class="btn btn-danger">Delete</a>
                        </td>


                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


